html {
    font-size: 62.5%;
    text-align: left;
}


#page{
    clear: both;
}


#cart{
    float:right;
    margin: 1em 1em 2em;
}
div.book {
    float: left;
    height: 220px;
    width: 160px;
    padding: 5px;
}

div.book img {
    height: 200px;
}

.displaybook {
    padding: 5em 3em;
    text-align: left;
}

.displaybook h1, .displaybook p {
    margin: 3em 1em 0 0;
}

h1 {
    font-weight: bold;
    font-size: 150%;
}

.displaybook img.book {
    float: right;
    margin: 0 0 0 3em
}

em{
    font-weight: bolder;
}

a, a:visited{
   color:blue;
}

table.cart{
    width: 55em;

}

table.cart th{
    font-weight:bold;
    font-size: 100%;
    text-align:left;
    padding-left: 1em;
}

table.cart .title{
   width: 30em;
   text-align: left;
}

table.cart .author{
    width: 20em;
    text-align: left;
}

table.cart .price{
    width: 5em;
    text-align: right;

    
}

table.cart tr.total td{
    text-align: right;
    font-weight: bolder;
}