html {
    font-size: 62.5%;
    text-align: left;
}

#page {
    clear: both;
    padding: 2em 1em;
}

#cart {
    float: right;
    margin: 1em 1em 2em;
}

div.book {
    float: left;
    height: 220px;
    width: 160px;
    padding: 5px;
}

div.book img {
    height: 200px;
}

.displaybook {
    padding: 5em 3em;
    text-align: left;
}

.displaybook h1, .displaybook p {
    margin: 3em 1em 0 0;
}

h1 {
    font-weight: bold;
    font-size: 150%;
}

h2 {
    font-weight: bold;
    font-size: 125%;

}



.displaybook img.book {
    float: right;
    margin: 0 0 0 3em
}

em {
    font-weight: bolder;
}

#form.checkout {
    float: left;
}

a, a:visited {
    color: blue;
}

table.cart {
    width: 55em;
    margin: 1em 0;

}

table.cart th {
    font-weight: bold;
    font-size: 100%;
    text-align: left;
    padding-left: 1em;
}

table.cart .title {
    width: 30em;
    text-align: left;
}

table.cart .author {
    width: 20em;
    text-align: left;
}

table.cart .price {
    width: 5em;
    text-align: right;

}

table.cart tr.total td {
    text-align: right;
    font-weight: bolder;
}

a#continue_shopping {
    float: left;
}

a#checkout {
    position: absolute;
    left: 675px;
}

form#checkout {
    text-align: left;
    background: pink;
}

form#checkout .group {
    background: #DDDDDD;
    padding: 5px 1em;
    margin: 5px 1em;
}

form#checkout label {
    display: block;
    margin: 5px 0 5px 2em;
}

form#checkout input {
    margin-left: 2em;
}

form#checkout select {
    margin-left: 2em;
}

.side_by_side{
    float:left;
    width: 100%;
}

.side_by_side p{
    float: left;
}


