<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">

    <filter>
        <filter-name>ApplicationFilter</filter-name>
        <filter-class>bookshop.web.ApplicationFilter</filter-class>
    </filter>
    <servlet>
        <servlet-name>DisplayCatalogue</servlet-name>
        <servlet-class>bookshop.web.DisplayCatalogueServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayBook</servlet-name>
        <servlet-class>bookshop.web.DisplayBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCart</servlet-name>
        <servlet-class>bookshop.web.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayCart</servlet-name>
        <servlet-class>bookshop.web.DisplayCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Checkout</servlet-name>
        <servlet-class>bookshop.web.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayCheckoutConfirmed</servlet-name>
        <servlet-class>bookshop.web.DisplayCheckoutConfirmedServlet</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>DisplayCatalogue</servlet-name>
        <url-pattern>/store/catalogue</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DisplayBook</servlet-name>
        <url-pattern>/store/book</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AddToCart</servlet-name>
        <url-pattern>/store/addtocart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayCart</servlet-name>
        <url-pattern>/store/displaycart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Checkout</servlet-name>
        <url-pattern>/store/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayCheckoutConfirmed</servlet-name>
        <url-pattern>/store/checkout_confirmed</url-pattern>
    </servlet-mapping>

    <filter-mapping>
        <filter-name>ApplicationFilter</filter-name>
        <url-pattern>/store/*</url-pattern>
    </filter-mapping>
</web-app>
